openapi: 3.0.3

info:
  title: Free Historical WHOIS Data API
  version: 2.0.0
  description: >
    Access archived WHOIS records for any domain name through the
    WhoisDataCenter Historical WHOIS API. View past registrar information,
    registrant details, registration dates, expiry dates, name servers,
    domain status, and other historical WHOIS data.

  contact:
    name: WhoisDataCenter
    url: https://whoisdatacenter.com
    email: support@whoisdatacenter.com

servers:
  - url: https://api-v1.whoisdatacenter.com/api/v2
    description: WhoisDataCenter Production API

paths:
  /domain/whois/historical:
    get:
      summary: Historical WHOIS Lookup
      description: >
        Get historical WHOIS records for a domain name. The API can return
        multiple archived WHOIS records showing how domain registration,
        registrar, registrant, contact, name server, and status information
        changed over time.

      operationId: historicalWhoisLookup

      tags:
        - Historical WHOIS

      security:
        - bearerAuth: []

      parameters:
        - name: domain
          in: query
          required: true
          description: Domain name to look up.
          example: marketxy.com
          schema:
            type: string

        - name: format
          in: query
          required: false
          description: Response format. Default is json.
          schema:
            type: string
            enum:
              - json
              - xml
              - csv
            default: json

      responses:
        '200':
          description: Historical WHOIS records returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalWhoisResponse'

              example:
                execution_time_ms: 2134
                status: true
                total_records: 9
                result_count: 9
                data:
                  - domain_name: marketxy.com
                    query_time: "2026-05-12 11:27:03"
                    create_date: "2024-10-09"
                    update_date: "2025-07-12"
                    expiry_date: "2034-10-09"
                    domain_registrar_id: "1068"
                    domain_registrar_name: "NAMECHEAP INC"
                    domain_registrar_whois: "whois.namecheap.com"
                    domain_registrar_url: "http://www.namecheap.com"
                    registrant_name: "Redacted for Privacy"
                    registrant_company: "Privacy service provided by Withheld for Privacy ehf"
                    registrant_address: "Kalkofnsvegur 2"
                    registrant_city: "Reykjavik"
                    registrant_state: "Capital Region"
                    registrant_zip: "101"
                    registrant_country: "IS"
                    registrant_email: "example@privacy-protected.com"
                    registrant_phone: "+354.4212434"
                    name_server_1: "cass.ns.cloudflare.com"
                    name_server_2: "gerald.ns.cloudflare.com"
                    domain_status_1: "clientTransferProhibited"

        '400':
          description: Invalid or missing domain parameter.

        '401':
          description: Invalid or missing API key.

        '403':
          description: Access denied.

        '404':
          description: No historical WHOIS records found for the domain.

        '429':
          description: Rate limit exceeded.

        '500':
          description: Internal server error.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: >
        Enter your WhoisDataCenter API key as a Bearer token.

  schemas:
    HistoricalWhoisResponse:
      type: object
      properties:
        execution_time_ms:
          type: integer
          description: API execution time in milliseconds.
          example: 2134

        status:
          type: boolean
          description: Shows whether the API request was successful.
          example: true

        total_records:
          type: integer
          description: Total number of historical WHOIS records found.
          example: 9

        result_count:
          type: integer
          description: Number of records returned in the response.
          example: 9

        data:
          type: array
          description: List of historical WHOIS records.
          items:
            $ref: '#/components/schemas/HistoricalWhoisRecord'

    HistoricalWhoisRecord:
      type: object
      properties:
        domain_name:
          type: string
          example: marketxy.com

        query_time:
          type: string
          nullable: true
          example: "2026-05-12 11:27:03"

        create_date:
          type: string
          nullable: true
          example: "2024-10-09"

        update_date:
          type: string
          nullable: true
          example: "2025-07-12"

        expiry_date:
          type: string
          nullable: true
          example: "2034-10-09"

        domain_registrar_id:
          type: string
          nullable: true
          example: "1068"

        domain_registrar_name:
          type: string
          nullable: true
          example: "NAMECHEAP INC"

        domain_registrar_whois:
          type: string
          nullable: true
          example: "whois.namecheap.com"

        domain_registrar_url:
          type: string
          nullable: true
          example: "http://www.namecheap.com"

        registrant_name:
          type: string
          nullable: true

        registrant_company:
          type: string
          nullable: true

        registrant_address:
          type: string
          nullable: true

        registrant_city:
          type: string
          nullable: true

        registrant_state:
          type: string
          nullable: true

        registrant_zip:
          type: string
          nullable: true

        registrant_country:
          type: string
          nullable: true

        registrant_email:
          type: string
          nullable: true

        registrant_phone:
          type: string
          nullable: true

        registrant_fax:
          type: string
          nullable: true

        administrative_name:
          type: string
          nullable: true

        administrative_company:
          type: string
          nullable: true

        administrative_address:
          type: string
          nullable: true

        administrative_city:
          type: string
          nullable: true

        administrative_state:
          type: string
          nullable: true

        administrative_zip:
          type: string
          nullable: true

        administrative_country:
          type: string
          nullable: true

        administrative_email:
          type: string
          nullable: true

        administrative_phone:
          type: string
          nullable: true

        administrative_fax:
          type: string
          nullable: true

        technical_name:
          type: string
          nullable: true

        technical_company:
          type: string
          nullable: true

        technical_address:
          type: string
          nullable: true

        technical_city:
          type: string
          nullable: true

        technical_state:
          type: string
          nullable: true

        technical_zip:
          type: string
          nullable: true

        technical_country:
          type: string
          nullable: true

        technical_email:
          type: string
          nullable: true

        technical_phone:
          type: string
          nullable: true

        technical_fax:
          type: string
          nullable: true

        billing_name:
          type: string
          nullable: true

        billing_company:
          type: string
          nullable: true

        billing_address:
          type: string
          nullable: true

        billing_city:
          type: string
          nullable: true

        billing_state:
          type: string
          nullable: true

        billing_zip:
          type: string
          nullable: true

        billing_country:
          type: string
          nullable: true

        billing_email:
          type: string
          nullable: true

        billing_phone:
          type: string
          nullable: true

        billing_fax:
          type: string
          nullable: true

        name_server_1:
          type: string
          nullable: true

        name_server_2:
          type: string
          nullable: true

        name_server_3:
          type: string
          nullable: true

        name_server_4:
          type: string
          nullable: true

        domain_status_1:
          type: string
          nullable: true

        domain_status_2:
          type: string
          nullable: true

        domain_status_3:
          type: string
          nullable: true

        domain_status_4:
          type: string
          nullable: true

security:
  - bearerAuth: []
